html {
  font-size: 62.5%;
  font-family: 'Poppins';
  background: rgb(64, 66, 88);
}
* {
  box-sizing: border-box;
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-page #prev,
.login-page #ai {
  font-size: 10rem;
  padding-bottom: 2vh;
}

.login-page .info {
  font-size: 3rem;
  padding: 2vh;
  text-align: center;
  color: white;
}
.login-page .signup {
  margin-top: 2.5vh;
  text-decoration: none;
  font-size: 2rem;
}

/* HEADER  */
header {
  display: flex;
  align-items: center;
  width: 100vw;
  background: rgb(71, 78, 104);
  height: 7vh;
}

/* NAV BAR */
nav {
  display: flex;
  flex-direction: row;
  font-size: 2.5rem;
  list-style: none;
  margin-left: 2.5vw;
  color: white;
}
li {
  display: flex;
  align-items: center;
  margin-right: 3vw;
}

/* LOGO */
#prev,
#ai {
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 6rem;
  font-weight: 700;
}
#ai {
  color: rgb(3, 201, 136);
  /* color: rgb(204, 136, 153); */
}
#login {
  display: flex;
  margin-left: auto;
  font-size: 2.5rem;
  text-decoration: none;
  color: white;
  margin-right: 2.5vw;
}
.fa-user {
  margin-right: 0.5vw;
}
.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 93vh;
  color: white;
}
/* .terminal {
  display: flex;
  height: 50vh;
  width: 50vw;
  background: rgb(6, 0, 12);
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-size: 2.5rem;
  margin-bottom: 2.5vh;
} */
#output {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 47vh;
  width: 48vw;
  background: rgb(15, 0, 12);
  border: solid 10px rgb(6, 0, 12);
  border-radius: 10px;
  padding: 2%;
  font-size: 2.5rem;
  margin-bottom: 2.5vh;
}
.input {
  width: 25vw;
  font-size: 2rem;
  color: white;
  background-color: black;
  border-radius: 5px;
  overflow-y: hidden;
  resize: none;
}

.user-area {
  display: flex;
  align-items: center;
}
#submit {
  margin-left: 1vh;
  font-size: 3rem;
  background: none;
  border: none;
}
